<html>
<head>
  <script src="../jquery-min.js" type="text/javascript"></script>
  <script src="../underscore.js" type="text/javascript"></script>
  <script src="../backbone.js" type="text/javascript"></script>
  <link rel="stylesheet" href="../style.css" type="text/css" />
</head>
<body>

<p>Backbone.js is dependent on Underscore.js, which includes its own micro-templating solution. Refer to Underscore.js's documentation for more information.</p>

<p>Let us implement a "render()" function and call it when the view is initialized. The "render()" function will load our template into the view's "el" property using jQuery.</p>

<p><strong>Tip:</strong> Place all your templates in a file and serve them from a CDN. This ensures your users will always have your application cached.</p>

<div id="search_container"></div>

<script type="text/template" id="search_template">
  <label>Search</label>
  <input type="text" id="search_input" />
  <input type="button" id="search_button" value="Search" />
</script>

<script type="text/javascript" charset="utf-8">

  SearchView = Backbone.View.extend({
    initialize: function(){
      this.render();
    },
    render: function(){
      // Compile the template using underscore
      var template = _.template( $("#search_template").html(), {} );
      
      // Load the compiled HTML into the Backbone "el"
      this.el.html( template );
    }
  })

  var search_view = new SearchView({ el: $("#search_container") });

</script>
    
</body>
</html>