<html>
<head>
  <script src="../jquery-min.js" type="text/javascript"></script>
  <script src="../underscore.js" type="text/javascript"></script>
  <script src="../backbone.js" type="text/javascript"></script>
  <link rel="stylesheet" href="../style.css" type="text/css" />
</head>
<body>

<p>Template Variables</p>

<div id="search_container"></div>

<script type="text/template" id="search_template">
  <label><%= search_label %></label>
  <input type="text" id="search_input" />
  <input type="button" id="search_button" value="Search" />
</script>

<script type="text/javascript" charset="utf-8">
  SearchView = Backbone.View.extend({
    initialize: function(){
      this.render();
    },
    render: function(){
      // Pass variables in using Underscore.js Template
      var variables = { search_label: "My Search" };
      
      // Compile the template using underscore
      var template = _.template( $("#search_template").html(), variables );
      
      // Load the compiled HTML into the Backbone "el"
      this.el.html( template );
    },
    events: {
      "click input[type=button]": "doSearch"
    },
    doSearch: function( event ){
      // Button clicked, you can access the element that was clicked 
      // with event.currentTarget
      alert( "Search for " + $("#search_input").val() );
    }
  });

  $(document).ready(function() {
    var search_view = new SearchView({ el: $("#search_container") });
  });
</script>
    
</body>
</html>