<%= form_for @changeset, topic_path(@conn, :update, @topic), fn f -> %>
  <div class="form-group">
    <%= text_input f, :title, placeholder: "Title", class: "form-control" %>
    <%= error_tag f, :title %>
  </div>

  <%= submit "Save Topic", class: "btn waves-effect waves-light" %>
  <%= link to: topic_path(@conn, :index), class: "waves-effect waves-teal btn-flat" do %>
    Cancel
  <% end %>
<% end %>